---
layout: archive
---

<section id="about-me">
  
  <meta name="description" content="{{ site.description }}">

  <p style="font-size: 16px; color: #212f3c; text-align: justify;">
    Hi, I am Aakash<br><br>
    I am currently a graduate student pursuing a Master's in Data Science at <a href="https://datascience.ucsd.edu/" target="_blank" style="color: #3498db;">UC San Diego</a>. I completed my bachelor's from <a href="https://www.iitg.ac.in/" target="_blank" style="color: #3498db;">IIT Guwahati</a> in 2020 with a major in Chemical Science and Technology.<br><br>
    With a rich background spanning over 4 years as a Full Stack Data Scientist, I possess deep expertise in applying Data Science and Machine Learning to real-world issues. 
    I've had the opportunity to work with two distinguished unicorns in the Indian business landscape, <a href="https://cred.club/" target="_blank" style="color: #3498db;">CRED</a> and <a href="https://www.cult.fit/" target="_blank" style="color: #3498db;">Cure.fit</a>. Using the technical knowledge I garnered, I was able to impact the lifestyles of millions across India. This ranged from inspiring people to adopt healthier lifestyles through fitness motivation to enhancing their financial behaviors for improved well-being. 
    <br><br>
    At UCSD, my learning has been centered around data systems for ML, deepening my understanding of evolving topics like LLMs alongside applied ML coursework. I have also developed a strong appreciation for model interpretability, explainability, and data ethics while cultivating a habit of reading research papers to further enhance my expertise.
  </p>

</section>
